body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

header {
    background: linear-gradient(to right, #022c43, #03658c);
    color: #ffffff;
    padding: 20px 10%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative; /* Ensures layout control */
}

header img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
    position: absolute; /* Positioned relative to header */
    top: 50%;
    left: 10px;
    transform: translateY(-50%); /* Center align vertically */
}

header h1, header p {
    margin: 10px 0;
    padding-left: 180px; /* Offset for the image */
    animation: fadeInDown 1s both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

section {
    padding: 20px;
    margin: 20px 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

h2 {
    color: #03658c;
    border-bottom: 2px solid #022c43;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

article {
    margin: 10px 0;
    padding: 15px;
    border-left: 5px solid #03658c;
    transition: border-color 0.3s ease;
}

article:hover {
    border-left: 5px solid #022c43;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

li i {
    margin-right: 10px;
    color: #03658c;
    transition: color 0.3s ease;
}

li:hover i {
    color: #022c43;
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #03658c, #022c43);
    color: white;
    font-size: 0.9em;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #aeefff;
    text-decoration: underline;
}

.fab {
    color: #aeefff; /* Adjust to better fit with the overall theme */
}



